body{
    /* width: 100vw; */
    height: 100vh;
    color: white;
    background-color: black;
    /* display: flex; */
    /* border: 2px solid #ffff00; */
    /* margin: 0px;
    position: relative;
   */
}
.container{
    display: flex;
    justify-content: space-between;
} 

/* #parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.child{
    height: 330px;
    width: 220px;
    border: 2px solid red;
    background-color: greenyellow;
    margin: 10px;
    border-radius: 5px;
} */

.task{
    
    font-weight: 700;
    font-size: 56px;
}

.list{
   
    font-weight: 500;
}
.kite1{
    font-size: 30px;
}
.spark{
    margin: 50px;
}
.kite2{
font-size: 30px;
}
.material-symbols-outlined{
    color: blue;
    
}
.list{
    display: none;
    background-color: white;
    z-index: 2;
    position: absolute;
    left: 40vw;
    bottom: 34.4vh;
    width: 20vw;
    height: 20vh;
    color: red;
    font-size: 25px;
    border: 1px solid rgb(249, 140, 140);
    box-shadow: 5px 5px 15px grey;
    border-radius: 10px;
    text-align: center;
    padding: 20px;

}